/* Chart Colors */
.whatsapp-bar {
    fill: #4CAF50; /* Darker green */
}

.mercadolibre-bar {
    fill: #FFB300; /* Darker amber */
}

.instagram-bar {
    fill: #8E44AD; /* Richer purple */
}

/* Axis and Grid Line Colors */
.chart-axis {
    stroke: #CCCCCC; /* Light gray */
}

.chart-grid {
    stroke: #E0E0E0; /* Even lighter gray */
}

/* Tooltip Styling */
.custom-tooltip {
    background-color: #333;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

/* Legend Styling */
.custom-legend {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    flex-wrap: wrap;
}

.custom-legend-item {
    margin: 5px 10px;
    display: flex;
    align-items: center;
}

.custom-legend-color-box {
    width: 10px;
    height: 10px;
    background-color: var(--color);
    border: 1px solid black;
    margin-right: 5px;
}

.custom-legend-label {
    color: black;
}

/* General Page Styling */
body {
    background: linear-gradient(160deg, #E0B3E5, #D76DD7); /* Slightly darker gradient */
}

MuiTypography-h4 {
    font-size: 24px;
    color: black;
}

MuiTypography-body1 {
    font-size: 18px;
}

MuiTypography-body2 {
    font-size: 16px;
}

/* Button Styling */
.MuiButton-containedPrimary {
    background-color: #9C27B0; /* Bright purple */
    color: white;
}

.MuiButton-containedInherit {
    background-color: #888888; /* Muted gray */
    color: white;
}
