/* Home.css */
#wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar-wrapper {
    min-width: 250px;
    max-width: 250px;
}

#page-content-wrapper {
    width: 100%;
    padding: 20px;
}
.bg-light {
    background-color: transparent !important;
}
/* Home.css */
body {
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow-x: hidden;
}

#wrapper {
    display: flex;
    flex: 1;
    min-height: 100vh;
    overflow: hidden;
}

#sidebar-wrapper {
    transition: all 0.3s;
    overflow-x: hidden;
}

.sidebar-collapsed {
    width: 70px;
}

.sidebar-expanded {
    width: 250px;
}

#page-content-wrapper {
    flex: 1;
    overflow-y: auto;
    padding: 0px;
    margin-top: -35px;
    background-color:transparent /* Fondo blanco semi-transparente */
}

#sidebar-wrapper .sidebar-heading {
    cursor: pointer;
    padding: 1rem;
    background-color: #f8f9fa;
}

#sidebar-wrapper .list-group-item {
    padding: 1rem;
    transition: all 0.3s;
}

#sidebar-wrapper .list-group-item:hover {
    font-size: 1.2rem;
    background-color: #e0e0e0;
    color: #6a0dad;
}

.card {
    background-color: transparent;
    border: none;
}

.card-header {
    background-color: transparent;
}

.card-body img {
    width: 100%;
    border-radius: 8px;
}

.shape {
    position: absolute;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: float 6s ease-in-out infinite;
}

.shape:nth-child(1) {
    width: 150px;
    height: 150px;
    top: 20%;
    left: 10%;
}

.shape:nth-child(2) {
    width: 100px;
    height: 100px;
    top: 60%;
    left: 80%;
}

.shape:nth-child(3) {
    width: 200px;
    height: 200px;
    top: 80%;
    left: 30%;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}
.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

@media (max-width: 600px) {
    #wrapper {
        display: block;
        padding: 0;
    }

    #page-content-wrapper {
        padding: 0;
    }
}

