/* src/components/Navbar.css */

.user-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
    border-radius: 50%;
    padding: 8px;
}

.user-icon-wrapper:hover {
   
    box-shadow: 0 16px 54px 14px rgba(138, 43, 226, 0.5);
}
