/* src/components/Navbar.css */

.user-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
    border-radius: 50%;
    padding: 8px;
}

.user-icon-wrapper:hover {
   
    box-shadow: 0 16px 54px 14px rgba(138, 43, 226, 0.5);
}
.NAVBAR {
    background-image: url('../assets/backgorundSimple.png'); /* Cambia la ruta según corresponda */
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    height: 73px;
    z-index: 9999;
  }
  
  /* Capa superpuesta para agregar el color violeta/rosado con transparencia */
  .NAVBAR::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(62, 28, 82, 0.872); /* Aquí defines el color con transparencia */
    z-index: 0; /* Coloca la capa encima */
    pointer-events: none; /* Deja que el usuario interactúe con los elementos debajo */
  }
