/* Sidebar.css */

#sidebar-wrapper {
    transition: all 0.3s;
}

.sidebar-collapsed {
    width: 70px;
}

.sidebar-expanded {
    width: 200px;
}

#sidebar-wrapper .sidebar-heading {
    cursor: pointer;
    padding: 1rem;
}

#sidebar-wrapper .list-group-item {
    padding: 1rem;
    transition: all 0.3s;
}

#sidebar-wrapper .list-group-item:hover {
    font-size: 1.2rem;
    color: #330a50;
    
}
.list-group-item{
    border: none
}