.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    background-color: transparent; /* Ajusta el color de fondo según tus necesidades */
}

.loading-logo {
    width: 50px; /* Ajusta el tamaño según tus necesidades */
    height: 50px;
    animation: spin 0.7s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
