.USER {
    background-image: url('../assets/backgorundSimple.png'); /* Cambia la ruta según corresponda */
    background-repeat: repeat;
   
   overflow: auto;
    background-repeat: repeat;
  }
  
  /* Capa superpuesta para agregar el color violeta/rosado con transparencia */
  .USER::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(62, 28, 82, 0.872); /* Aquí defines el color con transparencia */
    z-index: 0; /* Coloca la capa encima */
    pointer-events: none; /* Deja que el usuario interactúe con los elementos debajo */
  } 
  
  .CAJA {
      background-color: white;
      z-index: 1111;
    width: 40%;
    border-radius: 20px;
    display: inline-grid;
    justify-content: center;
    
}
@media screen {
 .CAJA {
 width: 50%;
 }
}
  .border {
    border: 1px solid grey;
    width: 80%;
    margin-top: -10px;
  }