.login-card {
    box-shadow: 0 16px 54px 14px rgba(138, 43, 226, 0.5);
}
.btn {
    margin-left: 35%;
    background-color: rgb(199, 115, 209);
    color: black;
    border: none;
}
#background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1; /* Ensure video stays behind other elements */
    background-size: cover;
    overflow: hidden;
}