/* index.css */
body {
 /* Cambia la ruta según corresponda */
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

/* Capa superpuesta para agregar el color violeta/rosado con transparencia */
body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;/* Aquí defines el color con transparencia */
  z-index: -2; /* Coloca la capa encima */
  pointer-events: none; /* Deja que el usuario interactúe con los elementos debajo */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}

.shape {
  position: absolute;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: float 6s ease-in-out infinite;
}

.shape:nth-child(1) {
  width: 150px;
  height: 150px;
  top: 20%;
  left: 10%;
}

.shape:nth-child(2) {
  width: 100px;
  height: 100px;
  top: 60%;
  left: 80%;
}

.shape:nth-child(3) {
  width: 200px;
  height: 200px;
  top: 80%;
  left: 30%;
}

@keyframes float {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-20px);
  }
}
