.title {
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    margin: 20px auto;
    white-space: nowrap; /* Evita que el texto se rompa en varias líneas */
    overflow: hidden; /* Oculta el texto que se desborda */
    border-right: 0.15em solid #9100c5; /* Cursor parpadeante */
    animation: typing 2s steps(20, end) forwards, blink-caret 0.75s step-end infinite;
}

@keyframes typing {
    from { width: 0; }
    to { width: 40%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: #9100c5; }
}